/* Estilos básicos para tu proyecto */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f4f4f9;
    color: #333;
}

header {
    background: hwb(260 3% 18%);
    color: white;
    padding: 1rem 0;
    text-align: center;
}

main {
    padding: 2rem;
    text-align: center;
}

footer {
    background: #0b08b4;
    color: white;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}